.menu {
   position: fixed;
   background-color: #ffff;
   width: 20%;
   height: 100vh;
   box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
   z-index: 10;
   transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.menu svg {
   position: absolute;
   right: 0.7rem;
   top: 0.7rem;
}

.menuContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0.5rem 2rem;
   height: 93%;
}

.menuLinks {
   margin-top: 1rem;
   font-size: 1.2rem;
}

.menuLinks a {
   text-decoration: none;
   font-family: inherit;
   color: inherit;
}

.menuLinks a:hover {
   color: #7e7d7d;
}

.menuBtns {
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.menuBtns button {
   padding: 0.5rem 0.8rem;
   font-family: 'Readex Pro';
   font-size: 1rem;
   border: 0;
   cursor: pointer;
}

.btnLogIn {
   background-color: black;
   color: #EFEFEF;
}

.menuBtns button:hover {
   transform: scale(1.1);
}