.navigationContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigationLeft {
   display: flex;
   gap: 2rem;
   align-items: center;
}

.navigationRight {
   display: flex;
   gap: 1rem;
   align-items: center;
}

.navigationForm {
   background-color: #E5E5E5;
   border-radius: 25px;
   display: flex;
   align-items: center;
   padding-right: 0.5rem;
}

.navigationInput {
   border: 0;
   background-color: transparent;
}

.navigationInput:focus {
   outline: none;
   font-family: inherit;
   /* font-size: inherit; */
   /* font-size: 1rem; */
}

.navigationInput::placeholder {
   font-size: 1rem;
}

.navigationSearchBtn {
   border-radius: 30px;
   padding: 0.5rem 0.6rem;
   background-color: transparent;
   border: 0;
   left: 0;
}

svg,
img {
   cursor: pointer;
}

.iconFull {
   animation-name: full;
   animation-duration: 0.7s;
   animation-timing-function: ease-in-out;
}

@keyframes full {
   from {
      transform: scale(1);
   }
   to {
      transform: scale(1.3);
   }
}