html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', 'Readex Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.container--blurred {
  opacity: 0.7;
}

.sneaker-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 1rem;
}

.react-select__control,
.react-select-control
 {
  border-color: transparent;
}

.react-select__indicators,
.react-select__indicator {
  padding: 0;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__indicator svg {
  display: none;
}


/* .react-select-container:focus {
  outline: 0;
  border: 0;
}

.react-select__control:active,
.react-select__control:focus,
.react-select__control:hover,
.react-select-control:hover {
  border-color: red;
  box-shadow: none;
  border: none;
}

.react-select__option:focus {
  background-color: black;
  color: #fff;
}

.react-select__option:hover {
  background-color: red;
} */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  gap: 3px;
}

.pagination .page-num {
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
  color: black;
  border-radius: 3px;
  cursor: pointer;
}

.page-num:hover {
  background-color: #bebaba;
  opacity: 0.4;
}

.pagination .active {
  background-color: black;
  border: 0;
  color: white;
}

.pagination .disabled {
  display: none;
}