html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', 'Readex Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.container--blurred {
  opacity: 0.7;
}

.mainContainer {
  position: absolute;
  height: 30rem;
  width: 100%;
  background-color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sneaker-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 30%); */
  grid-template-columns: repeat( auto-fit, minmax(250px, 3fr) );
  grid-auto-rows: 1fr;
  /* overflow: hidden; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  gap: 3rem;
  margin: 1rem;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  gap: 3px;
}

.pagination .page-num {
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
  color: black;
  border-radius: 3px;
  cursor: pointer;
}

.page-num:hover {
  background-color: #bebaba;
  opacity: 0.4;
}

.pagination .active {
  background-color: black;
  border: 0;
  color: white;
}

.pagination .disabled {
  display: none;
}

.message--empty {
  font-family: 'Readex Pro';
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.message--empty svg {
  margin-left: 0.5rem;
  margin-bottom: -0.35rem;
}

.react-select__control {
  position: relative;
  padding: 0.1rem;
  border: 0 !important;
  cursor: pointer !important;
  min-width: 10rem;
}

.react-select__control--is-focused {
  outline: none !important;
  box-shadow: none !important;
}

.styles input:focus-visible {
  outline: 0px !important;
}

.btn--sort {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .sneaker-list {
    gap: 1rem;
  }

  .container {
    padding: 1rem 1rem;
  }

  .react-select__control {
    min-width: 5rem;
  }

  .react-select__option {
    font-size: 0.8rem !important;
  }

  .pagination {
    font-size: 1.1rem;
    margin: 2rem;
  }

  .pagination .page-num {
    padding: 0.4rem 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .pagination {
    font-size: 1rem;
    margin: 1.5rem;
  }
}