.container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.5rem;
   margin-top: 3rem;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   margin: 0 auto;
}

.form {
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 1rem;
   gap: 1.5rem;
}

.form input {
   padding: 1rem 0.5rem;
   font-size: 1rem;
   border: 0;
}

.form input:focus {
   outline: none;
}

.btn {
   margin-top: 1.2rem;
   padding: 0.6rem;
   font-size: 1rem;
   background-color: black;
   color: #EFEFEF;
   font-family: 'Readex Pro';
   border: 0;
   cursor: pointer;
}

.btn:hover {
   transform: scale(1.1);
}

.img {
   max-width: 23rem;
   border-radius: 15px;
   opacity: 0.8;
}

.info {
   color: #a4a2a2;
   margin-top: 0.1rem;
}

.info a {
   text-decoration: none;
   color: black;
   font-weight: 500;
}

.inputField {
   position: relative;
   border-bottom: 1px solid #b9b9b9;
}

.inputField input {
   border-bottom: 0;
}

.inputField input:autofill {
   background: transparent;
}

.inputField svg {
   position: absolute;
   top: 0.9rem;
   right: 0.4rem;
}

.errorField {
   background-color: #FEEAED;
   border-bottom: 0;

}

.error {
   margin-top: -1.3rem;
   color: #FF1A40;
}

.error svg {
   margin-bottom: -0.4rem;
}

.social {
   background-color: transparent;
   border: 0;
}

.btn img {
   width: 1.1rem;
}

.btnSocial {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   background-color: #F0F0F0;
   color: black;
   margin-top: -0.9rem;
}

.message {
   font-family: 'Readex Pro';
   font-size: 2rem;
   text-align: center;
   margin-top: 4rem;
}

@media screen and (max-width: 768px) {
   .container {
      margin-top: 1rem;
      padding: 1rem;
   }

   .wrapper {
      gap: 0.5rem;
   }

   .img {
      max-width: 18rem;
   }

   .form {
      gap: 1rem;
      padding: 0.5rem;
   }

   .form input {
      padding: 0.7rem 0.4rem;
   }

   .error {
      margin-top: -1.1rem;
   }

   .btn {
      margin-top: 1rem;
   }

   .btnSocial {
      margin-top: -0.7rem;
   }

   .message {
      font-size: 1.5rem;
      margin-top: 2rem;
   }
}

@media screen and (max-width: 586px) {
   .wrapper {
      flex-direction: column;
   }
   .img {
      max-width: 15rem;
   }
   .form {
      width: 100%;
   }
}